.userBox{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    border-radius: 12px;
    background-color: hsl(219, 29%, 18%);
    margin-top: 110px;
   
}
.user{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 6px;

    
}
.img{
    width: 70px;
    background-color: black;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.userBox img{
    width: 100%;
    border-radius: 50%;
}
.userInfo{
    display: flex;
    flex-direction: column;
    gap: 5px
}

.userName{
    color: #CDD5E0;
    font-weight: 400;
}
.userTag{
    color: #97A3B6;
}