
.userName{
    font-size:2rem;
    font-family: 'Be Vietnam Pro';
    margin-top: 30px;
    margin-left: 4px;
    color: #CDD5E0;
   
}
.userTag{
   font-size: 1rem;
   margin-left: 4px;
   color: #97A3B6;

}

.repo-flex{
  margin-top: 50px;
   display:flex;
   flex-wrap: wrap;
   gap: 40px;
}
.repo-card{
  
  width: 560px;
  border-radius: 12px;
  padding: 20px;
  background: linear-gradient(95deg, #111729 3%, #1d1b48 99.61%);
  color: #97A3B6;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.repoHead{
  color: #CDD5E0;
}
.repo-info{
    display: flex;
    align-items: center;
    gap: 10px;
    
}


@media (max-width:440px) {
  .repo-flex{
    margin-top: 20px;
  }
  .userName{
    margin-top: 20px;
  }
}