.userBox{
  position: absolute;
  top: 20%;      /* directly below search */
  left: 50%;
  transform: translate(-50%,-50%);
  width: 550px;
  background-color: hsl(219, 29%, 18%);
  border-radius: 12px;  
   margin-top: 110px;
}
.user{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 6px;

   
    
}
.img{
    width: 70px;
    background-color: black;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.userBox img{
    width: 100%;
    border-radius: 50%;
}
.userInfo{
    display: flex;
    flex-direction: column;
    gap: 5px
}

.dataName{
    color: #CDD5E0;
    font-weight: 400;
    font-size: 1.5rem;
}
.dataTag{
    color: #97A3B6;
}



@media (max-width:920px) {
    .userBox{
        top: auto !important;
        left: auto !important;
        transform: none !important;
        margin-left: 20px;
        margin-top: 80px;
        width: 90%;

    }
    .img{
    width: 60px;
   }
}


@media (max-width:440px) {
   .userBox{
    margin-top: 80px;
   }
   .img{
    width: 50px;
   }
   .userInfo{
    gap:2px
   }
   .dataName{
    font-size: 1.1rem;
   }
}